body, table, tr, td, select, input
{
	font-family: '맑은 고딕','Malgun Gothic',"돋움","verdana"; 
	font-size: 9pt; color:#555555;	
	
	text-decoration:none;	
}
html {-webkit-text-size-adjust:none;}

p {margin:0;padding:0;}

.last {background:none !important;}
img {border-style:none;} 

em {font-style:normal;}
.info11 {font-size:11px;color:#888;letter-spacing:-1px;}
.info12 {font-size:12px;color:#888;display:inline-block;}
.chkbx {width:13px;height:13px;vertical-align:middle;}
.rdbtn {width:13px;height:13px;vertical-align:top;.vertical-align:middle;}
.ipubx {border:1px solid #c1c1c1;width:100px;height:20px;padding:3px 3px 0 3px;vertical-align:middle;}
.txt_area {font:12px 돋움;border:1px solid #c1c1c1;}
.dvi {color:#d7d7d7;margin:0 5px;font-weight:normal}
.clr1 {color:#2063aa}
.clr2 {color:#a13b66}
.clr3 {color:#3c3c3c}
.noti {clear:both;background:url(https://image.yes24.com/sysimage/orderN/icon.gif) 0 -218px no-repeat;padding:1px 0 0 18px;color:#2063aa;} /* detail.css에 동일 css명 존재 */
.nt {background:url(https://image.yes24.com/sysimage/orderN/i_noti.gif) 6px 4px no-repeat;margin:5px 0 0 0;padding:1px 0 0 12px;color:#999;letter-spacing:-1px;font-size:11px;vertical-align:middle;line-height:16px !important;}
.ntR {background:url(https://image.yes24.com/sysimage/orderN/i_notiR.gif) 6px 4px no-repeat;margin:5px 0 0 0;padding:1px 0 0 12px;color:#ff6666;letter-spacing:-1px;font-size:11px;vertical-align:middle;line-height:16px !important;}
.ls1 {letter-spacing:-1px}
.ls0 {letter-spacing:0}
.ule {text-decoration:underline;}

.txC_ntBlue { color:#7992b0; }

a.white:link{color:#D8E7F4;text-decoration:none;}
a.white:visited{color:#D8E7F4;text-decoration:none;}
a.white:active{color:#D8E7F4;text-decoration:none;}
a.white:hover{color:#ffffff;text-decoration: none;}

a.blueU:link{color:#3A85C7;text-decoration:none;}
a.blueU:visited{color:#3A85C7;text-decoration:none;}
a.blueU:active{color:#3A85C7;text-decoration:none;}
a.blueU:hover{color:#555555;text-decoration: underline;}

a.gray:link{color:#555555;text-decoration:none;}
a.gray:visited{color:#555555;text-decoration:none;}
a.gray:active{color:#555555;text-decoration:none;}
a.gray:hover{color:#3A85C7;text-decoration: underline;}

a.ordNum:link{color:#000000;text-decoration:underline;font-weight:bold;;}
a.ordNum:visited{color:#000000;text-decoration:underline;font-weight:bold;}
a.ordNum:active{color:#000000;text-decoration:underline;font-weight:bold;}
a.ordNum:hover{color:#3A85C7;text-decoration: underline;font-weight:bold;}

a.stab:link{color:#ffffff;text-decoration:none;}
a.stab:visited{color:#ffffff;text-decoration:none;}
a.stab:active{color:#ffffff;text-decoration:none;}
a.stab:hover{color:#D8E7F4;text-decoration: underline;}

a.sub:link{color:#888888;text-decoration:none;background-image: url(https://image.yes24.com/sysimage/interface/line/under_dot.gif);}
a.sub:visited{color:#888888;text-decoration:none;}
a.sub:active{color:#888888;text-decoration:none;}
a.sub:hover{color:#3A85C7;text-decoration: underline;}

a.small:link{font-size:8pt;color:#888888;text-decoration:none;}
a.small:visited{font-size:8pt;color:#888888;text-decoration:none;}
a.small:active{font-size:8pt;color:#888888;text-decoration:none;}
a.small:hover{font-size:8pt;color:#3A85C7;text-decoration: underline;}

/* 작가파일 issue?*/
a.issNor:link{font-size:9pt;color:#444444;text-decoration: none; padding:3 2 0 2; }
a.issNor:visited{font-size:9pt;color:#444444;text-decoration: none;padding:3 2 0 2;}
a.issNor:active{font-size:9pt;color:#444444;text-decoration: none;padding:3 2 0 2;}
a.issNor:hover{font-size:9pt;color:#ffffff;text-decoration: none; background: #555555; padding:3 2 0 2;}

a.issbol:link{font-size:9pt;color:#444444;text-decoration: none; font-weight:bold; padding:3 2 0 2; }
a.issbol:visited{font-size:9pt;color:#444444;text-decoration: none;font-weight:bold; padding:3 2 0 2;}
a.issbol:active{font-size:9pt;color:#444444;text-decoration: none;font-weight:bold; padding:3 2 0 2;}
a.issbol:hover{font-size:9pt;color:#ffffff;text-decoration: none;;font-weight:bold; background: #555555; padding:3 2 0 2;}

a.issBox:link{font-size:9pt;color:#ffffff;text-decoration: none; font-weight:bold;background: #F66620;  padding:3 2 0 2; }
a.issBox:visited{font-size:9pt;color:#ffffff;text-decoration: none;;font-weight:bold;background: #F66620;  padding:3 2 0 2;}
a.issBox:active{font-size:9pt;color:#ffffff;text-decoration: none;;font-weight:bold;background: #F66620; padding:3 2 0 2;}
a.issBox:hover{font-size:9pt;color:#ffffff;text-decoration: none;;font-weight:bold; background: #555555; padding:3 2 0 2;}


.txtSm {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:8pt; font-weight:normal; color:#555555; line-height:150%; text-decoration:none;}
.txtNo {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#FF6600; line-height:120%; text-decoration:none;}
.txtAp {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#888888; line-height:120%; text-decoration:none;}
.txtRd {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#555555; line-height:150%; text-decoration:none;}
.txtTd {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"바탕","verdana";font-size:14pt; font-weight:bold; color:#818181; line-height:120%; text-decoration:none;letter-spacing:-2.0pt;}
.txtCt {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:8pt; font-weight:normal; color:#CE3E3E; line-height:120%; text-decoration:none;letter-spacing:-1.2pt;}

.pageon{color:#FF3300;font-weight:bold;background-color:#EDF6FE;} 
.page_on{cursor:hand;background-color:#EDF6FE;text-decoration:underline;}  
.page_off{background-color:#ffffff;}
.ocbpbox{background:url(https://image.yes24.com/images/02_plan/2005/ocbzone/bg_redbox.gif) repeat-x left middle;padding:3 1 0 0;font-size:8pt; font-weight:bold;color:#ff0000;}

.ew30p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:30pt; font-weight:bold; color:#000000; line-height:100%; text-decoration:none; letter-spacing:-5px;}
.ew13p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:13pt; font-weight:bold; color:#000000; line-height:120%; text-decoration:none; letter-spacing:-2px;}
.num13p {FONT-FAMILY: "verdana";font-size:13pt; font-weight:bold; color:#000000; line-height:100%; text-decoration:none; letter-spacing:-2px;}
/* 아래 기존 */

a.cate:link{color:#737373;FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";text-decoration:none;}
a.cate:visited{color:#737373;FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";text-decoration:none;}
a.cate:active{color:#737373;FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";text-decoration:none;}
a.cate:hover{color:#3A85C7;FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";text-decoration: none;}

a.w:link{color:#ffffff;text-decoration:none;}
a.w:visited{color:#ffffff;text-decoration:none;}
a.w:active{color:#ffffff;text-decoration:none;}
a.w:hover{color:#3A85C7;text-decoration: underline;}

.txt100 {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#101010; line-height:100%; text-decoration:none;}
.txt120 {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#101010; line-height:120%; text-decoration:none;}
.txt150 {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#555555; line-height:150%; text-decoration:none;}
.txt180 {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#101010; line-height:180%; text-decoration:none;}
.txt10p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:10pt; font-weight:bold; color:#101010; line-height:120%; text-decoration:none;}
.txt11p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:11pt; font-weight:bold; color:#101010; line-height:120%; text-decoration:none;}
.txt12p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:12pt; font-weight:normal; color:#101010; line-height:120%; text-decoration:none;}
.txt13p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:13pt; font-weight:bold; color:#101010; line-height:120%; text-decoration:none;}
.txt15p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:15pt; font-weight:bold; color:#101010; line-height:130%; text-decoration:none;}
.txt16p {FONT-FAMILY: "verdana";font-size:16pt; font-weight:bold; color:#000000; line-height:100%; text-decoration:none; letter-spacing:-1px;}
.txt20p {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:20pt; font-weight:bold; color:#101010; line-height:180%; text-decoration:none;}
.txts {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:8pt; font-weight:normal; color:#101010; line-height:120%; text-decoration:none;}
.txts130 {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:8pt; font-weight:normal; color:#101010; line-height:150%; text-decoration:none;}
.txtD {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#666666; line-height:120%; text-decoration:none;}
.detail {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#666666; line-height:180%; text-decoration:none;}
.mList {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#CDA4D0; line-height:180%; text-decoration:none;}
.mBlog {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#95B98B; line-height:180%; text-decoration:none;}
.mClub {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#99D9F6; line-height:180%; text-decoration:none;}


.bold {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt;font-weight:bold; color:#101010; line-height:120% ; text-decoration:none;}
.info {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt;font-weight:normal; color:#7E7E7E; line-height:120% ; text-decoration:none;}
.infoH{FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt;font-weight:normal; color:#888888; line-height:150% ; text-decoration:none;}
.infoGray {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt;font-weight:normal; color:#ABABAB; line-height:120% ; text-decoration:none;}
.infoGrays {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:8pt;font-weight:normal; color:#ABABAB; line-height:120% ; text-decoration:none;}

.skyblue {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal;color: #0F8AD5; line-height:120% ; text-decoration:none;}
.skyblueB {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold;color: #0F8AD5; line-height:120% ;  text-decoration:none;}
.blue {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#2E68B2; line-height:120% ; text-decoration:none;}
.blueB {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold; color:#2E68B2; line-height:120% ; text-decoration:none;}
.red {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#CC0033; line-height:120% ; text-decoration:none;}
.redB {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold; color:#CC0033; line-height:120% ; text-decoration:none;}


.price {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:normal; color:#EB5D07; line-height:120% ; text-decoration:none;}
.priceB {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold; color:#EB5D07; line-height:120% ; text-decoration:none;}
.priceR {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold; color:#0F8EF0; line-height:120% ; text-decoration:none;}

.pdtitle {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold;color:#CE674B;}
.pdsubtitle {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:10pt; font-weight:bold;color:#184288;}  
.reviewtitle {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:10pt; font-weight:bold; color:#1BA30D; line-height:120%; text-decoration:none;}

.series {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt;color:#5E5E5E;font-weight:normal;}

.inside {font-family: '맑은 고딕','Malgun Gothic',"돋움,Arial"; font-size: 14pt; color: #6666CC;text-decoration:none;font-weight:bold;}

.item-title {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:11pt; font-weight:bold; color:#333333; line-height:150% ; text-decoration:none;}
.box-title {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold; color:#333333; line-height:150% ; text-decoration:none;}
.bodytitle {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:11pt; font-weight:bold; color:#333333; line-height:150% ; text-decoration:none;}
.boxtitle {FONT-FAMILY: '맑은 고딕','Malgun Gothic',"돋움","verdana";font-size:9pt; font-weight:bold; color:#101010; line-height:120% ; text-decoration:none;}

/* GNB 국내도서 탭 메시지 */
.OpenIcon {
	width:31px;
	height:17px;
	left:17px; 
	top: -40px; 
	position: absolute;
	background: url(https://image.yes24.com/images/05_welcome/info/msg_new3.gif) no-repeat;
}

#Gift a:link, #Gift a:visited {color:#737373;text-decoration:none;}
#Gift a:hover, #Gift a:active {color:#ED145B;text-decoration: underline;}

#Gift a.blog:link, #Gift a.blog:visited {color:#4b4b4b;text-decoration:none;}
#Gift a.blog:hover, #Gift a.blog:active {color:#ED145B;text-decoration: underline;}

a.review:hover {color:#ED145B;text-decoration: underline;}
a.review:active {color:#ED145B;text-decoration: underline;}

a.reserve_1:link,a.reserve_1:visited,a.reserve_1:active, a.reserve_1:hover {text-decoration:none; color:#f684b5; font-weight:bold;}
a.reserve_2:link,a.reserve_2:visited,a.reserve_2:active, a.reserve_2:hover {text-decoration:none; font-weight:bold; color:#737373;}
a.reserve_3:link,a.reserve_3:visited,a.reserve_3:active, a.reserve_3:hover {text-decoration:none; background-color:#af87f7; color:#FFFFFF;}
a.reserve_4:link,a.reserve_4:visited,a.reserve_4:active, a.reserve_4:hover {text-decoration:none; background-color:#dd8be7; color:#FFFFFF;}
a.reserve_5:link,a.reserve_5:visited,a.reserve_5:active, a.reserve_5:hover {text-decoration:none; color:#f684b5; font-weight: bold;}
a.reserve_6:link,a.reserve_6:visited,a.reserve_6:active, a.reserve_6:hover {text-decoration:none; color:#737373;}

.cateBoxLeftTitle {background: url(https://image.yes24.com/sysimage/category/bg_leftTitle.gif) no-repeat;padding:10px 10px 7px 10px;border-bottom: 1px solid #ddd;font-weight:bold;color:#000;}
.cateBoxListImg {background: url(https://image.yes24.com/sysimage/category/bg_leftdotLine.gif) bottom no-repeat;padding:10px;font-size:11px;color:#999;letter-spacing:-1px;}
.cateBoxListImg a {color:#000;display:block;padding-bottom:2px;}
.cateBoxListImg img {float:left;margin:0px 5px 20px 0;width:40px;}
.cateBoxListImg span {color:#ED145B;}

.cateBoxListTxt {background: url(https://image.yes24.com/sysimage/category/bg_leftdotLine.gif) bottom no-repeat;padding:10px;font-size:11px;color:#999;letter-spacing:-1px;}
.cateBoxListTxt img {float:left;margin:2px 3px 50px 0;}
.cateBoxListTxt a {color:#000;display:block;padding-bottom:2px;}
.cateBoxListTxt span {color:#ED145B;}

.cateBoxRightTitle {background: url(https://image.yes24.com/sysimage/category/bg_RightTitle.gif) no-repeat;padding:10px 10px 7px 10px;border-bottom: 1px solid #ddd;font-weight:bold;color:#000;}
.cateBoxRightTitle a {background: url(https://image.yes24.com/sysimage/category/b_viewMore.gif) no-repeat;width:41px;height:12px;text-indent:-1000px;}
.catePlan {background: url(https://image.yes24.com/sysimage/category/bg_rightdotLine.gif) bottom no-repeat;padding:10px;letter-spacing:-1px;font-weight:bold;}
.catePlan img {float:left;margin:0px 5px 20px 0;width:50px;border:1px solid #ddd;}

.cateBoxListRightImg {background: url(https://image.yes24.com/sysimage/category/bg_rightdotLine.gif) bottom no-repeat;padding:8px 10px;color:#999;letter-spacing:-1px;}
.cateBoxListRightImg a {color:#000;display:block;padding-bottom:2px;}
.cateBoxListRightImg img {float:left;margin:0px 5px 20px 0;width:40px;}
.cateBoxListRightImg span {color:#ED145B;}

.cateBoxListRightTxt {background: url(https://image.yes24.com/sysimage/category/bg_rightdotLine.gif) bottom no-repeat;padding:8px 10px;color:#999;letter-spacing:-1px;}
.cateBoxListRightTxt img {float:left;margin:2px 3px 50px 0;}
.cateBoxListRightTxt a {color:#000;display:block;padding-bottom:2px;}
.cateBoxListRightTxt span {color:#ED145B;}

.cateBoxListRightTxtBottom {padding:10px 10px 5px 10px;}
.cateBoxListRightTxtBottom ul {list-style:none;margin:0;}
.cateBoxListRightTxtBottom ul li {background: url(https://image.yes24.com/sysimage/wel/i_discBlue.gif) no-repeat 0 3px;padding:0px 0px 5px 8px;}

.cateBN {background: url(https://image.yes24.com/sysimage/category/bg_rightdotLine.gif) bottom no-repeat;padding:5px 0;}

.cateBrand {padding-bottom:5px;}

.fsw {padding:3px 5px 0 8px;background: url(https://image.yes24.com/sysimage/category/img_searchwordRight.gif) no-repeat;width:456px;height:21px;overflow:hidden;line-height:18px;}
.fsw a:link, .fsw a:visited {font-weight:bold;color:#3A85C7;background: url(https://image.yes24.com/sysimage/category/img_fsw.gif) right no-repeat;padding-right:15px;}


#dhtmlgoodies_menu{width:150px;text-align:center;padding-top:3px;}
#dhtmlgoodies_menu li{list-style-type:none;margin:0px;}
#dhtmlgoodies_menu ul{margin:0px;padding:0px;}
#dhtmlgoodies_menu ul li ul{padding-left:10px;}

.dhtmlgoodies_subMenu{visibility:hidden;position:absolute;overflow:hidden;border:1px solid #E8E8E8;background-color:#ffffff;}
.dhtmlgoodies_subMenu ul{list-style-type:none;margin:0px;padding:10px;}
.dhtmlgoodies_subMenu ul li{background: url(https://image.yes24.com/sysimage/category/i_2pxdot.gif) no-repeat 0 5px;margin:0px;padding:1px 0px 1px 7px;}
.dhtmlgoodies_subMenu ul li a{white-space:nowrap;padding:1px;display:block;}

#eventLocation {margin:9px 0 7px 10px;padding-left:15px;background: url(https://image.yes24.com/sysimage/interface/indent/LocationW.gif) no-repeat left top;}
#eventLocationLine {margin:9px 0 9px 10px;padding:0 0 5px 15px;background: url(https://image.yes24.com/sysimage/interface/indent/LocationW.gif) no-repeat left top;border-bottom:1px solid #E7E3DE;}
#event {margin-bottom:10px;}
#event img {vertical-align:top;}

.page {font-weight:bold;padding-bottom:2px;}	
.page img {vertical-align:middle;margin-right:2px;}
.page a {padding:5px;border:1px solid #fff;}		
.page a.hover {padding:0;margin:0;}		
.page a:hover , .page strong {padding:3px 5px 1px 5px;border:1px solid #F25F9B;color:#DA035F;position:relative;}
.page a.hover:hover {padding:0px;border:1px solid #fff;}


.TitAuthor {font-size:14px; font-weight:bold; color:#eb6e2c; vertical-align:bottom; font-family:돋움;}

/** 이벤트세상 2depth **/
.cateC {background: url(https://image.yes24.com/sysimage/eventWorld/bg_cateC.gif) bottom no-repeat;width:800px;padding-bottom:10px;overflow:auto;clear:left;}
.cateC p {background: url(https://image.yes24.com/sysimage/eventWorld/bg_cateCtop.gif) top no-repeat;margin:0;padding:0 20px 0 0;text-align:right;}
.cateC ul {margin:5px 0 0 0;padding:0 20px 0;list-style:none;float:left;}
.cateC ul li {background: url(https://image.yes24.com/sysimage/categoryN/i_depth.gif) 0 1px no-repeat;padding:0 7px 5px 7px;width:130px;float:left;}
*html .cateC ul li {width:150px;}
.cateC ul li.on a:link,.cateC ul li.on a:visited  {color:#DA035F;}
.cateC a {font-weight:bold;letter-spacing:-1px;}
.cateC a:link, .cateC a:visited {color:#3A85C7;}
.cateC a:active, .cateC a:hover {color:#000;}

/* 어린이독후감 독후감 찾아보기 */
#searchImpression {width:167px;margin:0 0 10px 10px;;border-top:1px solid #DADADA;}
#searchImpression h2 {margin-top:10px;} 
#searchImpression p {margin:3px 0 7px 0;}
#searchImpression input {width:120px;border:3px solid #3A85C7;}
#searchImpression a img {vertical-align:top;margin-top:1px;}
#searchImpression p.searchExp {margin:0;color:#3A85C7;letter-spacing:-2px;font-size:11px;}

#kidsImpressionResultPagingTop {width:753px; height:73px;background: url(https://image.yes24.com/sysimage/bookN/bg_resultKidsImpressionTop.gif);}
#kidsImpressionResultPagingTop .result {font-weight:bold;padding:12px 0 20px 12px;color:#3C3C3C;}
#kidsImpressionResultPagingTop .result img {vertical-align:top;margin-top:-2px;}
#kidsImpressionResultPagingTop .result .num {font-weight:normal;}
#kidsImpressionResultPagingTop .page {margin-left:20px;}

#kidsImpressionResultPagingTopNo {width:753px; height:38px; margin-bottom:20px; background: url(https://image.yes24.com/sysimage/bookN/bg_resultKidsImpressionTopNo.gif);}
#kidsImpressionResultPagingTopNo .result {font-weight:bold;padding:12px 0 0 12px;color:#3C3C3C;}
#kidsImpressionResultPagingTopNo .result img {vertical-align:top;margin-top:-2px;}


#kidsImpressionResultPagingBottom {clear:left;width:753px; height:40px;background: url(https://image.yes24.com/sysimage/bookN/bg_resultKidsImpressionBottom.gif);margin-bottom:20px;}
#kidsImpressionResultPagingBottom .page {padding:13px 0 0 20px;}


#resultList li {float:left;background: url(https://image.yes24.com/sysimage/interface/1px_hdot.gif) repeat-x left bottom;padding:20px 10px;}
#resultList li:last-child {background:none;}
#resultList h3, #resultList h4 {font-size:12px;margin:0;font-weight:normal;margin-bottom:10px;}
#resultList h3 a {font-weight:bold;}
#resultList h3 img {vertical-align:middle;}
#resultList h3 span, #resultList h4 span {color:#3A85C7;font-weight:bold;}
#resultList img.book {float:left;margin-right:10px;}
#resultList p {line-height:150%;}

.aplayer {text-align:left;width:743px;overflow:hidden;}
.aplayer h3 {margin-bottom:10px;}
.aplayer div {width:500px;margin:0 0 30px 121px;}
.aplayer ul {width:900px;}
.aplayer ul li {float:left;width:163px;height:160px;margin:0 27px 0 0;color:#BBB;}
.aplayer ul li a {display:block;}
.aplayer ul li img {display:block;border:1px solid #000;margin-bottom:10px;}

.tblStr {border-right:1px solid #ddd;padding:5px 5px 4px 5px;}
.tblStrR {padding:5px 5px 4px 5px;}
.sltStr {font-size:11px;font-family:verdana;margin-right:3px;}
.lstStr {padding:0;margin:0 0 0 10px;list-style:none;}
.lstStr li {background:url(https://image.yes24.com/sysimage/newwelcome/i_DotBeige.gif) no-repeat top left;padding:0 0 5px 8px;}
.lstStrB {padding:0;margin:0 0 0 10px;list-style:none;}
.lstStrB li {background:url(https://image.yes24.com/sysimage/mypage/i_DotBlue.gif) no-repeat top left;padding:0 0 5px 8px;}

.ebookshelftable {margin:0;clear:left;}
.ebookshelftable table {width:720px;}
.ebookshelftable th, .ebookshelftable th.tblStrR {color:#8E8E8E;font-weight:normal;border-top:1px solid #C9C9C9;border-bottom:1px solid #E8E8E8;border-right:1px solid #E8E8E8;padding:5px 5px 4px 5px;}
.ebookshelftable th.tblStrR {border-right:1px solid #fff;}
.ebookshelftable td, .ebookshelftable td.tblStrR {text-align:center;color:#555;font-weight:normal;border-bottom:1px solid #C9C9C9;border-right:1px solid #E8E8E8;padding:10px 0 10px 10px;}
.ebookshelftable td.tblStrR {border-right:1px solid #fff;text-align:left;}
.alignL {text-align:left;padding-left:10px;}
.ebookshelftable th.wdh {width:100px;}
.ebookshelftable p, .ebookshelftable h2 {padding:0;margin:0;}
.ebookshelftable img.goods {float:left;border:1px solid #ddd;margin:0 10px 0 0;}
.ebookshelftable p.period {margin:10px 0 0 0;color:#57C4D4;font-size:12px;}
.ebookshelftable h2 {font-size:12px;}
.ebookshelftable h3 {font-size:12px; font-weight:bold;}
.ebookshelftable p.description {margin:5px 0;}
.ebookshelftable p.descriptionS {margin:15px 0;}
.ebookshelftable p.price {margin:5px 0; font-weight:bold; color:#333333;color:da035f;}
.ebookshelftable p.publish {color:#57C4D4;margin-bottom:5px;}
.ebookshelftable p.publish img {vertical-align:top;}
.ebookshelftable p.audiobook {margin:10px 0 0 0;}
.ebookshelftable ul {margin:0 0 0 110px;padding:0;list-style:none;border-top:1px solid #E8E8E8;}
.ebookshelftable ul.text {margin:0;padding:0;list-style:none;border-top:1px solid #E8E8E8;}
.ebookshelftable li {border-bottom:1px solid #E8E8E8;padding:5px 0  3px 12px;background: url(https://image.yes24.com/sysimage/mypage/i_dotBlue2px.gif) no-repeat 5px 10px;}
.ebookshelftable li img {vertical-align:top;}
.ebookshelftable li img.view {float:right;margin:-2px 5px 0 0;}
.ebookshelftable img.purchase {float:right;margin:0 5px 0 0;}
.ebookSort {clear:left;width:720px;background:#F2F2F2;}
.ebookpaging {margin:0 0 30px 0;padding:5px 0 5px 0;background:#F2F2F2;width:720px;}
.ebookpaging .paging a {border:1px solid #F2F2F2;}

.ebookshelfcate {float:left;background: url(https://image.yes24.com/sysimage/mypage/bg_ebookcate.gif) no-repeat left bottom;margin:5px 0 20px 29px;display:inline;}
.ebookshelfcate ul {float:left;margin:0;padding:13px 13px 1px 13px;list-style:none;background: url(https://image.yes24.com/sysimage/mypage/bg_ebookcateTop.gif) no-repeat left top;width:720px;border:}
.ebookshelfcate li {float:left;background: url(https://image.yes24.com/sysimage/mypage/i_arrowEbook.gif) no-repeat left 2px;padding:0 30px 10px 8px;white-space:nowrap;}
.ebookshelfcate li.selected {font-weight:bold;}

.ebookshelfcaten {float:left;background: url(https://image.yes24.com/sysimage/mypage/bg_ebookcate.gif) no-repeat left bottom;margin:5px 0 20px 29px;display:inline;}
.ebookshelfcaten ul {float:left;margin:0;padding:13px 13px 1px 13px;list-style:none;background: url(https://image.yes24.com/sysimage/mypage/bg_ebookcateTop.gif) no-repeat left top;width:720px;border:}
.ebookshelfcaten li {float:left;background: url(https://image.yes24.com/sysimage/mypage/i_arrowEbook.gif) no-repeat left 2px;padding:0 0px 10px 8px;white-space:nowrap;width:115px;text-align:left;}
.ebookshelfcaten li.selected {font-weight:bold;}

.ebookshelfnotice {float:left;background: url(https://image.yes24.com/sysimage/mypage/bg_ebooknoti.gif) no-repeat left bottom;margin:5px 0 5px 29px;display:inline;}
.ebookshelfnotice ul {float:left;margin:0;padding:13px 13px 1px 13px;list-style:none;background: url(https://image.yes24.com/sysimage/mypage/bg_ebooknotiTop.gif) no-repeat left top;width:720px;border:}
.ebookshelfnotice li {float:left;background: url(https://image.yes24.com/sysimage/mypage/i_arrowEbnoti.gif) no-repeat left 2px;padding:0 0px 10px 8px;white-space:nowrap;width:115px;text-align:left;}

.eBookShelfCateN {float:left;background: url(https://image.yes24.com/sysimage/mypage/bg_ebookcate.gif) no-repeat left bottom;margin:5px 0 20px 29px;display:inline;}
.eBookShelfCateN ul {float:left;margin:0;padding:13px 13px 1px 13px;list-style:none;background: url(https://image.yes24.com/sysimage/mypage/bg_ebookcateTop.gif) no-repeat left top;width:720px;border:}
.eBookShelfCateN li {float:left;background: url(https://image.yes24.com/sysimage/mypage/i_arrowEbook.gif) no-repeat left 2px;padding:0 0px 10px 8px;white-space:nowrap;width:115px;text-align:left;}
.eBookShelfCateN li.selected {font-weight:bold;}

/* 작가정보/저자역자 더보기 */
.moreAuthLiArea { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.moreAuthLiArea { position:relative;z-index:10; }
.moreAuthLiArea .moreAuthBtn .imgAlt { width:15px;height:15px;vertical-align:top;background:url('/sysimage/orderN/btn/btn_moreHide.gif') no-repeat left top; }
#schMid_wrap .goodsList_img .goods_info .moreAuthLiArea .moreAuthBtn .imgAlt { margin-top:1px !important; }
.moreAuthLiArea.moreAuthOn .moreAuthBtn .imgAlt { background-position:0 -20px; }
.moreAuthLiArea .moreAuthLi { display:none;position:absolute;left:-150px;top:20px;padding:5px 0;width:163px;border:solid 1px #d8d8d8;background-color:#fff; }
.moreAuthLiArea.moreAuthOn .moreAuthLi { display:block; }
.moreAuthLiArea .moreAuthLi .moreAuthLiCont { display:block;margin:0 5px 0 10px;width:148px;_height:160px;max-height:160px;overflow:auto;overflow-x:hidden; }
.moreAuthLiArea .moreAuthLi .moreAuthLiCont ul { width:100%; }
.moreAuthLiArea .moreAuthLi .moreAuthLiCont li { width:100%;height:20px;line-height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.moreAuthLiArea .moreAuthLi .moreAuthLiCont li .imgAlt.bl_dot { margin:7px 5px 0 0 !important;width:2px;height:2px;vertical-align:top;background-color:#676767; }
#schMid_wrap .goodsList_img .goods_info .moreAuthLiCont li .imgAlt.bl_dot { margin-top:7px !important; }
.moreAuthLiArea .moreAuthLi .moreAuthLiCont li a { line-height:20px;color:#676767; }
.moreAuthLiArea .moreAuthLi .moreAuthLiCont li a:hover { color:#676767;text-decoration:underline; }

/* page table */
.yesTb { }
.yesTb.bg_white { background-color:#fff; }
.yesTb table { border-collapse:collapse !important;table-layout:fixed;border-top:solid 1px #d8d8d8;border-bottom:solid 1px #d8d8d8; }
.yesTb table a:hover { color:#333; }
.yesTb table .btnC { vertical-align:middle; }
.yesTb table caption { display:none; }
.yesTb table thead th { padding:6px 0 6px 0;line-height:18px;font-size:12px;text-align:center;color:#333;text-indent:0;font-weight:bold;border-right:solid 1px #ebebeb;border-bottom:solid 1px #ebebeb;background-color:#f8f8f8; }
.yesTb table thead.b_size th { padding:12px 0;font-size:13px; }
.yesTb table thead.xb_size th { padding:13px 0 16px;min-height:22px;line-height:20px;font-size:16px; }
.yesTb table tfoot td { padding:8px 10px;min-height:22px;line-height:22px;color:#333;font-size:12px;text-indent:0;vertical-align:middle;border-top:solid 1px #ebebeb;border-right:solid 1px #ebebeb;font-weight:bold;background-color:#f8f8f8; }
.yesTb table tfoot .bgWhite td { background-color:#fff; }
.yesTb table tbody th { padding:6px 0 6px 0;line-height:16px;font-size:13px;text-align:center;color:#333;text-indent:0;border-top:solid 1px #ebebeb;border-right:solid 1px #ebebeb;background-color:#f8f8f8; }
.yesTb table tbody th.bdrL { border-left:solid 1px #ebebeb; }
.yesTb table tbody.b_size th { padding:12px 0 12px 0;font-size:13px; }
.yesTb table tbody.xb_size th { padding:13px 0 16px;min-height:22px;line-height:20px;font-size:16px; }
.yesTb table tbody td { padding:6px 14px 6px;line-height:16px;color:#666;text-indent:0;border-top:solid 1px #ebebeb;border-right:solid 1px #ebebeb; }
.yesTb table tbody.b_size td { padding:12px 14px 12px;line-height:16px;font-size:12px; }
.yesTb table tbody.xb_size td { padding:13px 19px 16px;min-height:22px;line-height:20px;font-size:16px; }
.yesTb table tbody.xb_size td.txtNor { padding:15px 19px 18px;min-height:16px;line-height:16px;font-size:12px; }
.yesTb table tbody td.ac { padding-left:0;padding-right:0; }
.yesTb table tbody tr.rowNone { display:none; }
.yesTb table tbody tr:first-child > td { border-top:none; }
.yesTb table tbody tr:first-child > th { border-top:none; }
.yesTb table tbody tr:first-child.rowNone+tr th { border-top:none; }
.yesTb table tbody tr:first-child.rowNone+tr td { border-top:none; }
.yesTb table .lastCol { border-right:none; }
.yesTb table td { text-align:left; }
.yesTb table td.ar { padding-right:10px !important; }
.yesTb table td.diviTd { border-right:solid 1px #d8d8d8; }
.yesTb table td.inpArea { padding:6px 10px 4px 10px !important; }
.yesTb table td.inpArea input[type=checkbox] { width:13px;height:13px;vertical-align:middle;vertical-align:-3px; }
.yesTb table td.inpArea input[type=radio]    { width:13px;height:13px;vertical-align:middle;vertical-align:-3px; }
.yesTb table td .inpDes { padding:3px 0 6px 4px;line-height:16px;font-size:12px;color:#999; }
.yesTb table td span.inpDes { padding:0 !important; }
.yesTb table td .inpDes+.inpDes { margin-top:-2px;padding:0 0 6px 4px; }
.yesTb table tbody.b_size  td .inpDes { padding:3px 0 6px 4px; }
.yesTb table tbody.b_size  td .inpDes+.inpDes { margin-top:-2px;padding:0 0 6px 4px; }
.yesTb table tbody.xb_size td .inpDes { padding:3px 0 6px 9px; }
.yesTb table tbody.xb_size td .inpDes+.inpDes { margin-top:-2px;padding:0 0 6px 9px; }
.yesTb table tbody.b_size td.inpArea { padding:6px 10px 4px 10px !important; }
.yesTb table tbody.xb_size td.inpArea { padding:6px 10px 4px 10px !important; }
.yesTb table tbody td.inpArea .setAlignL { margin-left:4px; } /* colGrp 에서는 margin대신 padding */
.yesTb table tbody.b_size td.inpArea .setAlignL { margin-left:4px; }
.yesTb table tbody.xb_size td.inpArea .setAlignL { margin-left:9px; }
.yesTb table td.noData { padding:65px 0 !important;text-align:center;border-right:none;font-size:12px; }
.yesTb table tbody.xb_size td.noData { font-size:12px; }
.yesTb table td .tbRowLi { display:block;margin:0 10px;font-size:12px; }
.yesTb table td .tbRowLi.nor_tp { }
.yesTb table td .tbRowLi:after { content:'';clear:both;display:block; }
.yesTb table td .tbRowLi li { float:left;padding:3px 0;width:100%;min-height:24px;line-height:24px;border-top:dashed 1px #e5e5e5; }
.yesTb table td .tbRowLi li:after { content:'';clear:both;display:block; }
.yesTb table td .tbRowLi li .item { float:left;line-height:22px; }
.yesTb table td .tbRowLi li .itemValu { float:right;line-height:22px; }
.yesTb table td .tbRowLi li:first-child { border-top:none; }
.yesTb table td .tbRowLi li:last-child { border-top:solid 1px #e5e5e5; }
.yesTb table td .tbRowLi.nor_tp li:last-child { border-top:dashed 1px #e5e5e5; }
.yesTb table td .tbRowLi.nor_tp li:first-child:last-child { border-top:none; }