
.sGLi {  }
.sGLi { line-height:0;font-size:0; }
.sGLi .itemUnit { line-height:1.3em;font-size:12px; }
.sGLi li.adOn { position:relative; }
.sGLi li.adOn .lnk_ad { display:block;position:absolute;z-index:3;padding:5px; }
.sGLi li.adOn .lnk_ad em { box-sizing:border-box;display:block;padding:0 1px;width:23px;height:17px;border:solid 1px #ebebeb;border-radius:15px;background:rgba(255,255,255,0.8) url('https://image.yes24.com/sysimage/reNew/common/ico_ad.svg') no-repeat center center; }
.sGLi.tp_list li.adOn { padding:30px 0 15px; }
.sGLi.tp_list li.adOn .item_btnCol { padding-bottom:30px; }
.sGLi.tp_list li.adOn .lnk_ad { right:-5px;bottom:15px; }
.sGLi.tp_thumb li.adOn .lnk_ad { left:0;top:30px; }
.sGLi .item_img .img_item { position:relative; }
.sGLi .item_img .img_item .img_grp .band { position:absolute;left:0;right:0;bottom:0;z-index:3;height:17px;line-height:17px;font-size:11px;color:#fff;font-weight:bold;text-align:center;border:solid 1px #e8655b;border-top:none;background-color:#f66b60; }
.sGLi .item_img .img_item .img_grp .band.band_15 { border-color:#dc7317;background-color:#dc7317; }
.sGLi .item_img .img_item .img_grp .band.band_16 { border-color:#dc7317;background-color:#dc7317; }
.sGLi .item_img .img_item .img_grp .band.band_17 { border-color:#dc7317;background-color:#dc7317; }
.sGLi .item_img .img_item .img_grp .ico { position:absolute;z-index:2; }
.sGLi .item_img .img_item .img_grp .ico.rank { display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; }
.sGLi .item_img .img_item .img_grp .ico.rank { flex-direction: row;flex-wrap: nowrap;align-items: flex-end; }
.sGLi .item_img .img_item .img_grp .ico.rank { box-sizing:border-box;left:0;bottom:0;z-index:3; }
.sGLi .item_img .img_item .img_grp .ico.rank { padding:0 10px 6px;line-height:1em;font-size:40px;color:#fff;font-weight:700;font-family:'ptd', '맑은 고딕' !important;text-shadow:1px 1px 0 rgba(0,0,0,0.3); }
.sGLi .item_img .img_item .img_grp .ico.rank+.lnk_img:after { content:'';position:absolute;left:0;right:0;bottom:0;z-index:2;height:113px;border-radius:0 0 3px 3px;background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0,0,0, 0.2)); }
.sGLi .item_img .img_item .img_grp .ico.eBook { right:-6px;bottom:10px;z-index:3;width:50px;height:30px;background:url('https://image.yes24.com/sysimage/mv3/com/ico_dtl_eBookSR.svg?v=0804a') no-repeat left top; }
.sGLi .item_img .img_item .img_grp .ico.audio { right:-6px;bottom:10px;z-index:3;width:50px;height:30px;background:url('https://image.yes24.com/sysimage/mv3/com/ico_dtl_audioSR.svg?v=0804a') no-repeat left top; }
.sGLi .item_img .img_item .img_grp .ico.age { box-sizing:border-box;left:auto;right:5px;top:5px;width:24px;height:24px;text-align:center;line-height:20px;overflow:hidden;border:solid 2px #ff4a08;border-radius:12px;text-align:center;letter-spacing:0;text-indent:0;background-color:#fff; }
.sGLi .item_img .img_item .img_grp .ico.age { padding-left:1px;font-size:12px;color:#333;font-family:'ptd','Noto Sans KR','맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',AppleGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important;font-weight:700; }
.sGLi .item_img .img_item .img_grp .ico.age.age_15 { border-color:#dc7317; }
.sGLi .item_img .img_item .img_grp .ico.age.age_16 { border-color:#dc7317; }
.sGLi .item_img .img_item .img_grp .ico.age.age_17 { border-color:#dc7317; }
.sGLi .item_img .img_item .img_grp .ico.ico_txt { box-sizing:border-box;left:0;top:0;z-index:3;padding:0 5px;height:20px;line-height:20px;font-size:12px;color:#fff;font-weight:700;border-top-left-radius:3px;border-bottom-right-radius:3px;background-image:linear-gradient(95deg, #0080ff 2%, #0043ff 97%); }
.sGLi .item_img .img_item .img_grp .ico.ico_txt { font-family:'ptd','Noto Sans KR','맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',AppleGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important; }
.sGLi .item_img .img_item .img_grp .img_bdr { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top; }
.sGLi .item_img .img_item .img_grp .img_bdr { position:relative;z-index:1; }
.sGLi .item_info { text-align:left; }
.sGLi .item_info .info_status { line-height:20px;font-size:12px;color:#666; }
.sGLi .item_info .info_status .ico_used { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.sGLi .item_info .info_status .ico_used { padding:0 8px;height:20px;line-height:20px;font-size:11px;color:#fff;border-radius:20px;background-color:#333; }
.sGLi .item_info .info_present { margin-top:12px;display:table;width:100%; }
.sGLi .item_info .info_present dt { display:table-cell;width:26px;vertical-align:top; }
.sGLi .item_info .info_present dt .ico_present { width:26px;height:26px;background-position:0 -960px; }
.sGLi .item_info .info_present dd { display:table-cell;padding-left:5px;line-height:18px;font-size:12px;color:#ff6666;font-weight:bold;text-align:left;vertical-align:middle; }
.sGLi .item_info .info_present dd a { line-height:18px;color:#ff6666; }
.sGLi .item_info .info_present dd a:after { content:'';display:inline-block;margin:2px 0 0 4px;width:6px;height:16px;vertical-align:top;background:url('https://image.yes24.com/sysimage/yesUI/bgYUI.png?ver=210806a') no-repeat -150px -240px; }
.sGLi .item_info .info_present+.goods_price { margin-top:12px; }
.sGLi .item_info .info_class24 .class24 { display:inline-block;height:16px;overflow:hidden;line-height:16px;color:#999;font-weight:normal;white-space:nowrap;text-overflow:ellipsis;vertical-align:top; }
.sGLi .item_info .info_pubGrp+.info_class24 .class24 { color:#333;font-weight:bold; }
.sGLi .item_info .info_price { margin-top:7px;line-height:20px;color:#333; }
.sGLi .item_info .info_price+.info_price { margin-top:5px; }
.sGLi .item_info .info_price .bit_item { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:bottom; } /* 모바일에서는 txt_item 모바일이 더 맞는 표현 */
.sGLi .item_info .info_price .bit_item { line-height:18px;font-size:12px;color:#333;font-weight:bold; } /* 모바일에서는 txt_item 모바일이 더 맞는 표현 */
.sGLi .item_info .info_price .txt_item { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:bottom; } /* 모바일에서는 txt_item 모바일이 더 맞는 표현 */
.sGLi .item_info .info_price .txt_item { line-height:18px;font-size:12px;color:#333;font-weight:bold; } /* 모바일에서는 txt_item 모바일이 더 맞는 표현 */
.sGLi .item_info .info_price .txt_sale { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:bottom; }
.sGLi .item_info .info_price .txt_sale { line-height:18px;font-size:14px;color:#ff6666;font-weight:normal !important; }
.sGLi .item_info .info_price .txt_sale .num { font-size:16px;font-weight:normal !important; }
.sGLi .item_info .info_price .txt_num { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:bottom; }
.sGLi .item_info .info_price .txt_num { line-height:20px; }
.sGLi .item_info .info_price .txt_num .yes_b { color:#000;font-size:16px;vertical-align:-1px; }
.sGLi .item_info .info_price .txt_num.dash { font-size:12px;color:#999;text-decoration:line-through; }
.sGLi .item_info .info_price .txt_num.dash .yes_m { line-height:18px;font-size:12px;color:#999;text-decoration:line-through; }
.sGLi .item_info .info_price .yPoint { font-size:12px;color:#333;font-weight:normal; }
.sGLi .item_info .info_price .yPoint .ico_point { margin-right:4px;width:13px;height:13px;vertical-align:-2px;background-position:-30px 0; }
.sGLi .item_info .info_price .priceClass24 { display:-webkit-box;display:flex;-webkit-box-lines:multiple;flex-wrap:wrap; }
.sGLi .item_info .info_price .priceClass24+.priceClass24:before { content:'\007E';-ms-flex-order:0;order:0;margin:0 4px;color:#666; }
.sGLi .item_info .info_price .priceClass24+.yPoint { flex-basis:100%; }
.sGLi .item_info .info_price .priceClass24+.yPoint { margin:6px 0 0 0 !important; }
.sGLi .item_info .info_price .rental { order:4;display:inline-block;margin:3px 0 0 5px;height:16px;line-height:16px;white-space:nowrap;font-size:12px;font-weight:300;color:#999;vertical-align:top; }
.sGLi .item_info .info_price .rental .num { line-height:16px;font-size:12px;color:#333; }
.sGLi .item_info .info_price .yCoupon .txt_item:before { content:'\2001\2001'; }
.sGLi .item_info .yCoupon { display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; }
.sGLi .item_info .yCoupon { flex-direction: row;flex-wrap: nowrap; }
.sGLi .item_info .yCoupon { order:7;margin-top:5px;width:100%;white-space:nowrap; }
.sGLi .item_info .yCoupon .txt_item { color:transparent; }
.sGLi .item_info .yCoupon > .txt_num { color:#FF6666 !important; }
.sGLi .item_info .yCoupon > .txt_num .yes_b { color:#FF6666 !important; }
.sGLi .item_info .yCoupon .iconC.coupon { order:3;margin-left:4px; }
.sGLi .item_info .info_rating { margin-top:9px;position:relative;line-height:18px;color:#333; }
.sGLi .item_info .info_rating .saleNum { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.sGLi .item_info .info_rating .saleNum { margin:0 1px 0 0;height:18px;line-height:18px;color:#666; }
.sGLi .item_info .info_rating .rating_rvCount+.saleNum { }
.sGLi .item_info .info_rating .rating_rvCount+.saleNum:before { margin:0 1px 0 2px;content:'\007C\0020';font-size:11px;color:#ccc;font-family:'돋움',Dotum,'굴림',Gulim,'Helvetica','Apple SD Gothic Neo',AppleGothic,Gulim,Helvetica,sans-serif; }
.sGLi:not(.tp_thumb) .item_info .info_rating .saleNum+.rating_rvCount:before { margin:0 1px 0 2px;content:'\007C\0020';font-size:11px;color:#ccc;font-family:'돋움',Dotum,'굴림',Gulim,'Helvetica','Apple SD Gothic Neo',AppleGothic,Gulim,Helvetica,sans-serif; }
.sGLi .item_info .info_rating .rating_rvCount { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.sGLi .item_info .info_rating .rating_rvCount { margin:0 1px 0 0;line-height:18px;font-size:12px;color:#999; }
.sGLi .item_info .info_rating .rating_rvCount a { font-size:12px;color:#999;vertical-align:top; }
.sGLi .item_info .info_rating .rating_grade { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.sGLi .item_info .info_rating .rating_grade { position:relative; }
.sGLi .item_info .info_rating .rating_grade+.rating_rvCount a .bit { display:none; }
.sGLi .item_info .info_rating .rating_grade+.rating_rvCount a .txC_blue { color:#999 !important; }
.sGLi .item_info .info_rating .bgYUI.star.rating { margin:1px 5px 0 0;width:80px;height:15px; }
.sGLi .item_info .info_rating .bgYUI.tRating { margin:1px 5px 0 0;width:80px;height:15px; }
.sGLi .item_info .info_rating .bgYUI.tRating.oneStar { width:16px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_0  { background-position:0 -700px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_1  { background-position:0 -720px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_2  { background-position:0 -740px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_3  { background-position:0 -760px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_4  { background-position:0 -780px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_5  { background-position:0 -800px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_6  { background-position:0 -820px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_7  { background-position:0 -840px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_8  { background-position:0 -860px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_9  { background-position:0 -880px; }
.sGLi .item_info .info_rating .bgYUI.tRating.tRating_10 { background-position:0 -900px; }
.sGLi .item_info .info_rating .yes_b { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.sGLi .item_info .info_rating .yes_b { height:18px;line-height:18px;font-size:16px;color:#000; }
.sGLi .item_info .info_rating .moreRatingArea { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingBtn { }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingBtn .bgYUI { margin-top:1px;width:17px;height:16px;background-position:-20px -240px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi { display:none;position:absolute;left:0;top:21px;z-index:5;padding:10px 0;width:178px;border:solid 1px #333;background-color:#fff; }
.sGLi .item_info .info_rating .moreRatingArea.contOn .moreRatingLi { display:block; }
.sGLi .item_info .info_rating .moreRatingArea.contOn .moreRatingBtn .bgYUI { background-position: -40px -240px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiRow { display:block;margin:0 15px;text-align:left; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont { display:block; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl { position:relative; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dt { position:absolute;left:14px;top:2px;line-height:16px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd { padding:3px 0 2px 85px;line-height:16px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating { width:78px;height:16px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_0 { background-position:0 0; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_1 { background-position:0 -740px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_2 { background-position:0 -780px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_3 { background-position:0 -820px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_4 { background-position:0 -860px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_5 { background-position:0 -900px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_0_0 { background-position:0 -700px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_0_5 { background-position:0 -720px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_1_0 { background-position:0 -740px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_1_5 { background-position:0 -760px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_2_0 { background-position:0 -780px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_2_5 { background-position:0 -800px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_3_0 { background-position:0 -820px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_3_5 { background-position:0 -840px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_4_0 { background-position:0 -860px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_4_5 { background-position:0 -880px; }
.sGLi .item_info .info_rating .moreRatingArea .moreRatingLi .moreRatingLiCont dl dd .rating.rating_5_0 { background-position:0 -900px; }
.sGLi .item_info .info_ent .ent+.ent:before { content:'\007C\0020';font-size:11px;color:#ccc;font-family:'돋움',Dotum,'굴림',Gulim,'Helvetica','Apple SD Gothic Neo',AppleGothic,Gulim,Helvetica,sans-serif; }
.sGLi .item_info .info_storeCmt { padding-top:9px;line-height:20px;color:#666;font-size:12px; }
.sGLi .item_info .info_storeCmt .ico_comm.ico_help { margin:2px 0 0 0; }
.sGLi .item_info .info_storeCmt+.info_deli { padding-top:3px !important; }
.sGLi .item_info .info_usedIco { padding-top:6px;line-height:20px;color:#666;font-size:12px; }
.sGLi .item_storeCol { display:table-cell;width:155px;line-height:20px;text-align:center;vertical-align:middle; }
.sGLi .item_storeCol .iconC+.store_name { margin-top:5px; }
.sGLi .item_storeCol .store_name { display:block;margin:0 15px;height:20px;overflow:hidden;line-height:20px;white-space:nowrap;text-overflow:ellipsis; }
.sGLi .item_storeCol .store_name a { font-size:13px;text-decoration:underline; }
.sGLi .item_storeCol .store_name.deliY { color:#6699cc; }
.sGLi .item_storeCol .store_name.deliY a { color:#6699cc; }
.sGLi .item_storeCol .store_name.deliO { color:#c16ed0; } /* 16a16f */
.sGLi .item_storeCol .store_name.deliO a { color:#c16ed0; } /* 16a16f */
.sGLi .item_storeCol .store_name.deliS { color:#c16ed0; }
.sGLi .item_storeCol .store_name.deliS a { color:#c16ed0; }
.sGLi .item_storeCol .store_rating { display:block;margin-top:6px;font-size:0;line-height:0; }
.sGLi .item_storeCol .store_rating .rating { width:80px;height:15px; }
.sGLi .item_storeCol .store_rating .rating.rating_0  { background-position:0 -700px; }
.sGLi .item_storeCol .store_rating .rating.rating_1  { background-position:0 -740px; }
.sGLi .item_storeCol .store_rating .rating.rating_2  { background-position:0 -780px; }
.sGLi .item_storeCol .store_rating .rating.rating_3  { background-position:0 -820px; }
.sGLi .item_storeCol .store_rating .rating.rating_4  { background-position:0 -860px; }
.sGLi .item_storeCol .store_rating .rating.rating_5  { background-position:0 -900px; }
.sGLi .item_storeCol .store_rating.deliO .rating.rating_0  { background-position:-100px -700px; }
.sGLi .item_storeCol .store_rating.deliO .rating.rating_1  { background-position:-100px -740px; }
.sGLi .item_storeCol .store_rating.deliO .rating.rating_2  { background-position:-100px -780px; }
.sGLi .item_storeCol .store_rating.deliO .rating.rating_3  { background-position:-100px -820px; }
.sGLi .item_storeCol .store_rating.deliO .rating.rating_4  { background-position:-100px -860px; }
.sGLi .item_storeCol .store_rating.deliO .rating.rating_5  { background-position:-100px -900px; }
.sGLi .item_storeCol .store_rating.deliS .rating.rating_0  { background-position:-100px -700px; }
.sGLi .item_storeCol .store_rating.deliS .rating.rating_1  { background-position:-100px -740px; }
.sGLi .item_storeCol .store_rating.deliS .rating.rating_2  { background-position:-100px -780px; }
.sGLi .item_storeCol .store_rating.deliS .rating.rating_3  { background-position:-100px -820px; }
.sGLi .item_storeCol .store_rating.deliS .rating.rating_4  { background-position:-100px -860px; }
.sGLi .item_storeCol .store_rating.deliS .rating.rating_5  { background-position:-100px -900px; }
.sGLi .item_storeCol .store_txt { display:block;margin-top:4px; }
.sGLi .item_btnCol .btn_row .chkBox label { position:relative;display:block; }
.sGLi .item_btnCol .btn_row .chkBox label input[type=checkbox] { position:absolute;left:3px;top:3px;z-index:0;width:8px;height:8px;vertical-align:-3px;-webkit-text-size-adjust:none;-webkit-border-radius:0; }
.sGLi .item_btnCol .btn_row .chkBox label .bgYUI.chk { position:absolute;left:0;top:0;z-index:2;width:18px;height:18px;border:solid 1px #ebebeb;border-top-color:#d8d8d8;border-left-color:#d8d8d8;border-radius:3px;background-position:-201px -1px; }
.sGLi .item_btnCol .btn_row .chkBox label input[type=checkbox]:disabled { opacity:0; }
.sGLi .item_btnCol .btn_row .chkBox label input[type=checkbox]:disabled+.bgYUI.chk { opacity:0.7;background-position:-261px -1px; }
.sGLi .item_btnCol .btn_row .chkBox label input[type=checkbox]:checked+.bgYUI.chk { border-color:#0080ff;background-position:-231px -1px !important; }
.sGLi .item_btnCol .btn_row .chkBox label input[type=checkbox]:disabled:checked+.bgYUI.chk { opacity:0.4; }

.sGLi.tp_thumb li { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:top; }
.sGLi.tp_thumb li { padding:30px 0;margin-right:40px;width:210px; }
.sGLi.tp_thumb.tp_chkG li { position:relative; }
.sGLi.tp_thumb li:nth-child(4n) { margin-right:0 !important; }
.sGLi.tp_thumb li .item_img .img_item { display:block;width:210px;height:210px;border-radius:3px; }
.sGLi.tp_thumb li .item_img .img_item .img_grp a.lnk_img { position:relative;display:table-cell;width:210px;height:210px;text-align:center;vertical-align:middle; }
.sGLi.tp_thumb li .item_img .img_item .img_grp a.lnk_img:before { content:'';position:absolute;left:0;top:0;right:0;bottom:0;z-index:2;border-radius:3px;background-color:rgba(0,0,0,0.03); }
.sGLi.tp_thumb li .item_img .img_item .img_grp .img_bdr { z-index:2; }
.sGLi.tp_thumb li .item_img .img_item .img_grp .img_bdr:before { content:'';position:absolute;left:0;top:0;right:0;bottom:0;z-index:2;border-radius:3px;background-color:rgba(0,0,0,0.02); }
.sGLi.tp_thumb li .item_img .img_item .img_grp .img_bdr img { margin:-1px;max-width:212px;max-height:212px; }
.sGLi.tp_thumb li .item_img .img_btn { display:none; }
.sGLi.tp_thumb li .item_info { margin-top:17px;text-align:left; }
.sGLi.tp_thumb.tp_chkG li .item_info { margin-top:37px;text-align:left; }
.sGLi.tp_thumb li .item_info { display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; }
.sGLi.tp_thumb li .item_info { flex-direction: column;flex-wrap: nowrap; }
.sGLi.tp_thumb li .item_info .info_row { width:100%; }
.sGLi.tp_thumb li .item_info .info_keynote { display:none; }
.sGLi.tp_thumb li .item_info .info_present { display:block;margin-top:7px;-ms-flex-order:10;order:10; }
.sGLi.tp_thumb li .item_info .info_present dt { display:none; }
.sGLi.tp_thumb li .item_info .info_present dd { display:-webkit-box;padding:0;height:16px;overflow:hidden;line-height:16px;color:#6699cc;font-size:12px;font-weight:normal;-webkit-line-clamp:1;-webkit-box-orient:vertical; }
.sGLi.tp_thumb li .item_info .info_status+.info_name { margin-top:5px; }
.sGLi.tp_thumb li .item_info .info_name { max-height:38px;overflow:hidden;word-break:break-all;line-height:19px;font-weight:bold;font-size:13px;color:#333; }
.sGLi.tp_thumb.maxName li .item_info .info_name { max-height:none;overflow:visible;word-break:break-all;-webkit-line-clamp:none; }
.sGLi.tp_thumb li .item_info .info_name a { color:#333; }
.sGLi.tp_thumb li .item_info .info_name .gd_res { display:inline;color:#333;font-weight:normal; }
.sGLi.tp_thumb li .item_info .info_name .gd_nameF { display:none; }
.sGLi.tp_thumb li .item_info .info_name .gd_nameE { display:none; }
.sGLi.tp_thumb li .item_info .info_name .gd_feature { display:none;}
.sGLi.tp_thumb li .item_info .info_name .ico_nWin { display:none; }
.sGLi.tp_thumb li .item_info .info_name .icon_ent { display:none; }
.sGLi.tp_thumb li .item_info .info_pubGrp { color:#999; }
.sGLi.tp_thumb li .item_info .info_name+.info_pubGrp { margin-top:7px; }
.sGLi.tp_thumb li .item_info .info_pubGrp .divi { display:none; }
.sGLi.tp_thumb li .item_info .info_pubGrp .divi:nth-child(2) { display:none; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_auth { display:block;height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_auth a { color:#999; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_auth a:hover { color:#666; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_auth .moreAuthArea { display:none; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_pub { display:block;margin-top:3px;height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_pub a { color:#999; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_pub a:hover { color:#666; }
.sGLi.tp_thumb li .item_info .info_pubGrp .info_date { display:none; }
.sGLi.tp_thumb li .item_info .info_class24 { margin-top:7px; }
.sGLi.tp_thumb li .item_info .info_class24 .class24 { display:block; }
.sGLi.tp_thumb li .item_info .info_class24 .class24+.class24 { margin-top:3px; }
.sGLi.tp_thumb li .item_info .info_price+.info_price { margin-top:5px; }
.sGLi.tp_thumb li .item_info .info_price .undecided { color:#000;font-size:16px;vertical-align:-1px;font-weight:bold; }
.sGLi.tp_thumb li .item_info .info_price .yPoint { display:block;margin-top:3px;text-align:left; }
.sGLi.tp_thumb .item_info .yCoupon { order:2; }
.sGLi.tp_thumb .item_info .yCoupon .txt_item { display:none; }
.sGLi.tp_thumb:not(.tp_book) li .item_info .info_price .txt_sale { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:left;vertical-align:bottom; }
.sGLi.tp_thumb:not(.tp_book) li .item_info .info_price .txt_sale { line-height:18px;font-size:14px;color:#ff6666;font-family:'yesB' !important;font-weight:normal !important; }
.sGLi.tp_thumb:not(.tp_book) li .item_info .info_price .txt_sale .num { font-size:16px;font-family:'yesB' !important;font-weight: normal !important; }
.sGLi.tp_thumb.tp_book li .item_info .info_price { display:-webkit-box;display:flex;-webkit-box-lines:multiple;flex-wrap:wrap; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_sale { margin:auto 0 2px 5px;-ms-flex-order:2;order:2;line-height:16px;font-size:12px;color:#333;font-family:'Malgun Gothic',Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif !important;font-weight:normal !important; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_sale:before { content:'\0028'; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_sale:after { content:'\0020\d560\c778\0029'; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_sale .num { font-size:12px;font-weight:normal !important; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .bit_item { margin:auto 5px 0 0;-ms-flex-order:0;order:0; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_item { margin:auto 5px 0 0;-ms-flex-order:0;order:0; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_num { -ms-flex-order:1;order:1; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_num .yes_b { color:#000;font-size:16px;vertical-align:-1px; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .txt_num.dash { display:none; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .yPoint { -ms-flex-order:3;order:3;width:100%; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .yPoint .ico_point { margin-left:0; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .priceUsed { display:-webkit-box;display:flex;-webkit-box-lines:multiple;flex-wrap:wrap; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .priceUsed .bit_item { font-weight:normal; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .priceUsed .txt_item { font-weight:normal; }
.sGLi.tp_thumb.tp_book li .item_info .info_price .priceUsed+.priceUsed { margin-top:3px;width:100%; }
.sGLi.tp_thumb .item_info .info_price .rental { display:block;margin-left:0;width:100%; }
.sGLi.tp_thumb .item_info .info_rating .saleNum { display:none; }
.sGLi.tp_thumb li .item_info .info_rating { display:-webkit-box;display:flex;-webkit-box-lines:multiple;flex-wrap:wrap;margin-bottom:2px; }
.sGLi.tp_thumb li .item_info .info_rating.notRating { display:none; } /* 별점이 없을 경우 방어코드 http://its.yes24.com:8088/browse/QAA-5152 */
.sGLi.tp_thumb li .item_info .info_rating .rating_rvCount { -ms-flex-order:2;order:2;margin:0 0 0 5px; }
.sGLi.tp_thumb li .item_info .info_rating .rating_rvCount .bit { display:none; }
.sGLi.tp_thumb li .item_info .info_rating .rating_grade { -ms-flex-order:1;order:1; }
.sGLi.tp_thumb li .item_info .info_rating .moreRatingArea { display:none; }
.sGLi.tp_thumb li .item_info .info_eStory { display:none; }
.sGLi.tp_thumb li .item_info .info_deli { display:none; }
.sGLi.tp_thumb li .item_info .info_epub { display:none; }
.sGLi.tp_thumb li .item_info .info_spring { display:none; }
.sGLi.tp_thumb li .item_info .info_revised { display:none; }
.sGLi.tp_thumb li .item_info .info_soldOut { -ms-flex-order:12;order:12;margin-top:9px;line-height:16px;color:#ff6666;font-size:12px; }
.sGLi.tp_thumb li .item_info .info_soldOut .shortV { display:block; }
.sGLi.tp_thumb li .item_info .info_soldOut .fullV { display:none; }
.sGLi.tp_thumb li .item_info .info_signature { display:-webkit-box;margin-top:9px;height:16px;overflow:hidden;line-height:16px;color:#6699cc;font-size:12px;-webkit-line-clamp:1;-webkit-box-orient:vertical; }
.sGLi.tp_thumb li .item_info .info_reserve { display:none; }
.sGLi.tp_thumb li .item_info .info_infoLi { display:none; }
.sGLi.tp_thumb li .item_info .info_bookReport { display:none; }
.sGLi.tp_thumb li .item_info .info_tag { display:none; }
.sGLi.tp_thumb li .item_info .info_event { display:none; }
.sGLi.tp_thumb li .item_info .info_classLi { display:none; }
.sGLi.tp_thumb li .item_info .info_relG { display:none; }
.sGLi.tp_thumb li .item_info .info_readBox { display:none; }
.sGLi.tp_thumb li .item_info .info_read { display:none; }
.sGLi.tp_thumb li .item_info .info_ent { display:block;margin-top:7px;min-height:16px;line-height:16px;color:#999; }
.sGLi.tp_thumb li .item_info .info_ent.info_mov { display:none; }
.sGLi.tp_thumb li .item_info .info_ent .ent { word-break:keep-all; }
.sGLi.tp_thumb li .item_info .info_ent .ent.date { display:none; }
.sGLi.tp_thumb li .item_info .info_ent .ent.date+.ent:before { display:none; }
.sGLi.tp_thumb li .item_info .info_ent .ent.time { display:none; }
.sGLi.tp_thumb li .item_info .info_cast { display:block;margin-top:5px;height:18px;overflow:hidden;white-space:nowrap;line-height:18px;color:#999;text-overflow:ellipsis; }
.sGLi.tp_thumb li .item_info .info_cast .cast a { color:#999; }
.sGLi.tp_thumb li .item_info .info_cast .cast a:hover { color:#666; }
.sGLi.tp_thumb li .item_info .info_cast dt:after { content:'\0020\ac10\b3c5';font-size:12px;color:#999; }
.sGLi.tp_thumb li .item_info .info_cast dd { display:none; }
.sGLi.tp_thumb li .item_info .info_entDate { margin:7px 0 0 0;min-height:16px;line-height:16px;font-size:12px;color:#999; }
.sGLi.tp_thumb li .item_info .info_loca { margin:3px 0 0 0;min-height:16px;line-height:16px;font-size:12px;color:#999; }
.sGLi.tp_thumb li .item_info .info_loca .btnC { display:none; }
.sGLi.tp_thumb li .item_info .info_storeCmt { display:none; }
.sGLi.tp_thumb li .item_info .info_used { display:none; }
.sGLi.tp_thumb li .item_info .info_usedNew { display:none; }
.sGLi.tp_thumb li .item_info .info_oneBuy { display:none; }
.sGLi.tp_thumb .item_storeCol { display:none; }
.sGLi.tp_thumb.tp_chkG li .item_btnCol .btn_row .chkBox { display:block;position:absolute;left:0;top:250px; }
.sGLi.tp_thumb.tp_chkG li .item_btnCol .btn_row .chkBox label { display:block;width:40px;height:20px; }
.sGLi.tp_thumb li .item_btnCol .btn_row .numBox { display:none; }
.sGLi.tp_thumb li .item_btnCol .soldOut { display:none; }
.sGLi.tp_thumb li .item_btnCol .btnC { display:none; }

.sGLi.tp_list {  }
.sGLi.tp_list li { padding:30px 0; }
.sGLi.tp_list li+li { border-top:solid 1px #ebebeb; }
.sGLi.tp_list li .itemUnit { display:table;width:100%;table-layout:fixed; }
.sGLi.tp_list li .itemUnit .item_img { display:table-cell;width:125px;vertical-align:top; }
.sGLi.tp_list li .itemUnit .item_img { width:125px; }
.sGLi.tp_list li .itemUnit .item_img .img_item { width:125px; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp { display:inline-block;position:relative;vertical-align:top; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp .img_bdr { display:inline-block;border-radius:3px;vertical-align:top; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp .img_bdr:before { content:'';position:absolute;left:0;top:0;right:0;bottom:0;z-index:2;border:solid 0.5px rgba(0,0,0,0.05);border-radius:3px; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp .img_bdr img { margin:-1px;width:127px;max-height:260px; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp .ico.audio+.lnk_img .img_bdr { border-radius:15px; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp .ico.audio+.lnk_img .img_bdr:before { border-radius:15px; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp .ico.eBook+.lnk_img .img_bdr { border-radius:15px; }
.sGLi.tp_list li .itemUnit .item_img .img_item .img_grp .ico.eBook+.lnk_img .img_bdr:before { border-radius:15px; }
.sGLi.tp_list li .item_img .img_btn { margin:10px 0 0 0;text-align:center; }
.sGLi.tp_list li .itemUnit .img_btn .btnC+.btnC { margin-top:5px; }
.sGLi.tp_list li .item_img .img_btn .btn_preview .bWrap { padding:0;width:95px; }
.sGLi.tp_list li .item_img .img_btn .btn_bFile .bWrap { padding:0;width:95px; }
.sGLi.tp_list li .itemUnit .item_info { display:table-cell;padding-left:20px;vertical-align:top; }
.sGLi.tp_list li .item_info .info_keynote { line-height:20px;font-size:12px;color:#666; }
.sGLi.tp_list li .item_info .info_keynote a { color:#666; }
.sGLi.tp_list li .item_info .info_keynote .iconC { margin-bottom:1px; }
.sGLi.tp_list li .item_info .info_keynote .iconC+.series { margin-left:2px; }
.sGLi.tp_list li .item_info .info_keynote .series { font-size:12px; }
.sGLi.tp_list li .item_info .info_keynote .series+.series:before { content:'\002C\0020'; }
.sGLi.tp_list li .item_info .info_keynote+.info_name { margin-top:5px; }
.sGLi.tp_list li .item_info .info_status+.info_name { margin-top:5px; }
.sGLi.tp_list li .item_info .info_name { max-height:none;line-height:20px;font-size:15px; }
.sGLi.tp_list li .item_info .info_name .rKey { color:#333;font-weight:normal;font-size:12px;vertical-align:1px; }
.sGLi.tp_list li .item_info .info_name .gd_res { color:#333;font-weight:normal;font-size:12px;vertical-align:1px; }
.sGLi.tp_list li .item_info .info_name .gd_name { color:#333;font-weight:bold;font-size:15px; }
.sGLi.tp_list li .item_info .info_name .gd_nameF { color:#666;font-weight:normal;font-size:12px;vertical-align:1px; }
.sGLi.tp_list li .item_info .info_name .gd_nameE { color:#666;font-weight:normal;font-size:12px;vertical-align:1px; }
.sGLi.tp_list li .item_info .info_name .gd_feature { color:#6699cc;font-weight:normal;font-size:12px;vertical-align:1px; }
.sGLi.tp_list li .item_info .info_name .gd_feature .feature { color:#6699cc; }
.sGLi.tp_list li .item_info .info_name .gd_feature .feature+.feature:before { content:'\002C\0020'; }
.sGLi.tp_list li .item_info .info_name .ico_nWin { margin:7px 0 0 2px;width:10px;height:9px;background-position:-40px -300px; }
.sGLi.tp_list li .item_info .info_name .icon_ent .iconC { margin:0 0 0 1px; }
.sGLi.tp_list li .item_info .info_pubGrp { display:block;margin-top:7px;min-height:16px;line-height:16px;color:#999; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth { display:inline;vertical-align:top; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .auth+.auth:before { content:'\002C\0020'; }
.sGLi.tp_list li .item_info .info_pubGrp .info_pub { display:inline;vertical-align:top; }
.sGLi.tp_list li .item_info .info_pubGrp .info_pub a { color:#333; }
.sGLi.tp_list li .item_info .info_pubGrp .authPub { }
.sGLi.tp_list li .item_info .info_pubGrp .authPub+.authPub:before { margin:0 1px 0 2px;content:'\007C\0020';font-size:11px;color:#ccc;font-family:'돋움',Dotum,'굴림',Gulim,'Helvetica','Apple SD Gothic Neo',AppleGothic,Gulim,Helvetica,sans-serif; }
.sGLi.tp_list li .item_info .info_pubGrp .info_date { display:inline;vertical-align:top; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth { position:relative; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth a { color:#333; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea { position:relative;z-index:1; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthBtn { }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthBtn .bgYUI { width:17px;height:16px;background-position:-20px -240px; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthLi { display:none;position:absolute;left:-143px;top:21px;padding:5px 0;width:158px;border:solid 1px #196ab3;background-color:#fff; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthLi .moreAuthLiCont { display:block;margin:0 5px 0 10px;width:143px;_height:160px;max-height:160px;overflow:auto;overflow-x:hidden; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthLi .moreAuthLiCont ul { width:95%; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthLi .moreAuthLiCont li { padding:0;width:100%;height:20px;line-height:20px;overflow:hidden;border:none;white-space:nowrap;text-overflow:ellipsis; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthLi .moreAuthLiCont li .bl_dot { margin:8px 0 0 0;width:7px;height:6px;vertical-align:top;background-position:0 0; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthLi .moreAuthLiCont li a { line-height:20px;color:#333; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea .moreAuthLi .moreAuthLiCont li a:hover { color:#333;text-decoration:underline; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea.contOn { z-index:10; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea.contOn .moreAuthBtn .bgYUI { background-position:-40px -240px; }
.sGLi.tp_list li .item_info .info_pubGrp .info_auth .moreAuthArea.contOn .moreAuthLi { display:block; }
.sGLi.tp_list li .item_info .info_pubGrp .divi { color:#ccc;font-family:'돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif !important;vertical-align:-1px; }
.sGLi.tp_list li .item_info .info_class24 { margin-top:10px; }
.sGLi.tp_list li .item_info .info_class24 .class24 { min-height:16px;line-height:16px; }
.sGLi.tp_list li .item_info .info_class24 .class24+.class24:before { content:'\007C\0020';margin:0 1px 0 2px;font-size:11px;color:#ccc;font-weight:normal;font-family:'돋움',Dotum,'굴림',Gulim,'Helvetica','Apple SD Gothic Neo',AppleGothic,Gulim,Helvetica,sans-serif; }
.sGLi.tp_list li .item_info .info_present+.info_price { margin-top:10px; }
.sGLi.tp_list li .item_info .info_name+.info_price { margin-top:10px; }
.sGLi.tp_list li .item_info .info_pubGrp+.info_price { margin-top:10px; }
.sGLi.tp_list li .item_info .info_class24+.info_price { margin-top:10px; }
.sGLi.tp_list li .item_info .info_price .undecided { color:#000;font-size:16px;vertical-align:-1px;font-weight:bold; }
.sGLi.tp_list li .item_info .info_price .bit_item { margin:auto 5px 1px 0; }
.sGLi.tp_list li .item_info .info_price .txt_item { margin:auto 5px 1px 0; }
.sGLi.tp_list li .item_info .info_price .txt_num .yes_b { color:#000;font-size:19px;vertical-align:-1px; }
.sGLi.tp_list:not(.tp_book) li .item_info .info_price .txt_sale { vertical-align:-1px; }
.sGLi.tp_list:not(.tp_book) li .item_info .info_price .txt_sale .num { font-size:19px;font-family:'yesB' !important;font-weight: normal !important; }
.sGLi.tp_list.tp_book li .item_info .info_price { display:-webkit-box;display:flex;-webkit-box-lines:multiple;flex-wrap:wrap; }
.sGLi.tp_list.tp_book li .item_info .info_price .txt_sale { margin:auto 0 2px 5px;-ms-flex-order:2;order:2;line-height:16px;font-size:12px;color:#333;font-family:'Malgun Gothic',Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif !important;font-weight:normal !important; }
.sGLi.tp_list.tp_book li .item_info .info_price .txt_sale:before { content:'\0028'; }
.sGLi.tp_list.tp_book li .item_info .info_price .txt_sale:after { content:'\0020\d560\c778\0029'; }
.sGLi.tp_list.tp_book li .item_info .info_price .txt_sale .num { font-size:12px;font-weight:normal !important; }
.sGLi.tp_list.tp_book li .item_info .info_price .bit_item { -ms-flex-order:0;order:0; }
.sGLi.tp_list.tp_book li .item_info .info_price .txt_item { -ms-flex-order:0;order:0; }
.sGLi.tp_list.tp_book li .item_info .info_price .txt_num { -ms-flex-order:1;order:1; }
.sGLi.tp_list.tp_book li .item_info .info_price .txt_num.dash { display:none; }
.sGLi.tp_list.tp_book li .item_info .info_price .yPoint { -ms-flex-order:3;order:3;margin:auto 0 2px 8px;line-height:16px; }
.sGLi.tp_list.tp_book li .item_info .info_price .priceUsed { display:-webkit-box;display:flex;-webkit-box-lines:multiple;flex-wrap:wrap; }
.sGLi.tp_list.tp_book li .item_info .info_price .priceUsed .bit_item { font-weight:normal; }
.sGLi.tp_list.tp_book li .item_info .info_price .priceUsed .txt_item { font-weight:normal; }
.sGLi.tp_list.tp_book li .item_info .info_price .priceUsed+.priceUsed:before { content:'\007E';-ms-flex-order:0;order:0;margin:0 4px;color:#666; }
.sGLi.tp_list li .item_info .info_deli { padding-top:9px;min-height:16px;line-height:16px;color:#666;font-size:12px; }
.sGLi.tp_list li .item_info .info_deli strong.deli_act { color:#333; }
.sGLi.tp_list li .item_info .info_deli a { color:#333; }
.sGLi.tp_list li .item_info .info_epub { padding-top:9px;line-height:16px;color:#666;font-size:12px; }
.sGLi.tp_list li .item_info .info_epub strong.epub_act { color:#333; }
.sGLi.tp_list li .item_info .info_epub a { color:#333; }
.sGLi.tp_list li .item_info .info_eStory { padding-top:9px;line-height:16px;color:#666;font-size:12px; }
.sGLi.tp_list li .item_info .info_eStory strong.epub_act { color:#333; }
.sGLi.tp_list li .item_info .info_eStory a { color:#333; }
.sGLi.tp_list li .item_info .info_spring { margin-top:9px;line-height:20px;color:#6699cc; }
.sGLi.tp_list li .item_info .info_spring .btnC { vertical-align:top; }
.sGLi.tp_list li .item_info .info_revised { margin-top:9px;line-height:20px;color:#ff6666; }
.sGLi.tp_list li .item_info .info_soldOut { margin-top:9px;line-height:20px;color:#ff6666; }
.sGLi.tp_list li .item_info .info_soldOut .ico_comm.ico_help { margin:2px 0 0 0; }
.sGLi.tp_list li .item_info .info_soldOut .btnC { vertical-align:top; }
.sGLi.tp_list li .item_info .info_soldOut .shortV { display:none; }
.sGLi.tp_list li .item_info .info_signature { display:none; }
.sGLi.tp_list li .item_info .info_reserve { margin-top:9px;line-height:20px;color:#ff6666; }
.sGLi.tp_list li .item_info .info_reserve .ico_comm.ico_help { margin:2px 0 0 0; }
.sGLi.tp_list li .item_info .info_reserve .btnC { vertical-align:top; }
.sGLi.tp_list li .item_info .info_bookReport { margin-top:9px;line-height:20px;color:#666; }
.sGLi.tp_list li .item_info .info_bookReport a { font-weight:bold;color:#333;text-decoration:underline; }
.sGLi.tp_list li .item_info .info_tag { margin-top:5px;font-size:0;line-height:0; }
.sGLi.tp_list li .item_info .info_tag .tag { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top; }
.sGLi.tp_list li .item_info .info_tag .tag a { display:block;margin:5px 5px 0 0;padding:0 10px;height:22px;white-space:nowrap;line-height:22px;border:solid 1px #ebebeb;border-radius:12px;font-size:12px;color:#666;font-weight:normal;background-color:#f8f8f8; }
.sGLi.tp_list li .item_info .info_tag .tag a:hover { display:block;border-color:#d8d8d8;color:#333;text-decoration:none;background-color:#fff; }
.sGLi.tp_list li .item_info .info_tag .tag.tagOn a { border-color:#6699cc;color:#fff;background-color:#6699cc; }
.sGLi.tp_list li .item_info .info_infoLi { margin-top:9px;line-height:20px;color:#6699cc;font-weight:bold; }
.sGLi.tp_list li .item_info .info_infoLi .yesAlertLi li { padding-left:0 !important;text-indent:0 !important;color:#666;word-break:break-all; }
.sGLi.tp_list li .item_info .info_infoLi .yesAlertLi li a { color:#666; }
.sGLi.tp_list li .item_info .info_infoLi .yesAlertLi li a:hover { color:#000; }
.sGLi.tp_list li .item_info .info_infoLi .yesAlertLi li .ico_nWin { margin:5px 0 0 5px;width:10px;height:9px;background-position:-40px -300px; }
.sGLi.tp_list li .item_info .info_event { margin-top:10px; }
.sGLi.tp_list li .item_info .info_event .event { height:20px;overflow:hidden;line-height:20px;font-size:12px; }
.sGLi.tp_list li .item_info .info_event .event .txt { line-height:20px; }
.sGLi.tp_list li .item_info .info_event .event .txt a { color:#666; }
.sGLi.tp_list li .item_info .info_event .event .txt a:hover { color:#333;text-decoration:underline; }
.sGLi.tp_list li .item_info .info_event .event .date { color:#999; }
.sGLi.tp_list li .item_info .info_event .event+.event { margin-top:5px; }
.sGLi.tp_list li .item_info .info_classLi { margin-top:10px; }
.sGLi.tp_list li .item_info .info_classLi .class { height:20px;overflow:hidden;line-height:20px;font-size:12px; }
.sGLi.tp_list li .item_info .info_classLi .class .txt { line-height:20px; }
.sGLi.tp_list li .item_info .info_classLi .class .txt a { color:#666; }
.sGLi.tp_list li .item_info .info_classLi .class .txt a:hover { color:#333;text-decoration:underline; }
.sGLi.tp_list li .item_info .info_classLi .class+.class { margin-top:5px; }
.sGLi.tp_list li .item_info .info_relG { margin-top:9px;line-height:16px;font-size:12px; }
.sGLi.tp_list li .item_info .info_relG .relG {  }
.sGLi.tp_list li .item_info .info_relG .relG a { color:#666; }
.sGLi.tp_list li .item_info .info_relG .relG a .relG_num { color:#6699cc; }
.sGLi.tp_list li .item_info .info_relG .relG+.relG:before { margin:0 1px 0 2px;content:'\007C\0020';font-size:11px;color:#ccc;font-family:'돋움',Dotum,'굴림',Gulim,'Helvetica','Apple SD Gothic Neo',AppleGothic,Gulim,Helvetica,sans-serif; }
.sGLi.tp_list li .item_info .info_read { display:-webkit-box;margin-top:11px;max-height:60px;word-break:break-all;overflow:hidden;line-height:20px;color:#999;text-align:justify;-webkit-line-clamp:3;-webkit-box-orient:vertical; }
.sGLi.tp_list li .item_info .info_readBox { margin-top:11px;padding:12px 0;border-radius:3px;background-color:#f8f8f8; }
.sGLi.tp_list li .item_info .info_readBox .readBox { display:-webkit-box;margin:0 15px;max-height:60px;word-break:break-all;overflow:hidden;line-height:20px;color:#666;text-align:left;-webkit-line-clamp:3;-webkit-box-orient:vertical; }
.sGLi.tp_list li .item_info .info_readBox .readBox .keyword { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top; }
.sGLi.tp_list li .item_info .info_readBox .readBox .keyword { padding:0 2px 0 3px;color:#333;border-radius:3px;background-color:#ffec42; }
.sGLi.tp_list li .item_info .info_ent { display:block;margin-top:7px;min-height:16px;line-height:16px;color:#999; }
.sGLi.tp_list li .item_info .info_cast { }
.sGLi.tp_list li .item_info .info_cast .cast+.cast:before { content:'\002C\0020'; }
.sGLi.tp_list li .item_info .info_cast .cast a { color:#666; }
.sGLi.tp_list li .item_info .info_cast .cast a:hover { color:#333; }
.sGLi.tp_list li .item_info .info_cast dt { margin:5px 0 0 0;line-height:18px;font-size:12px;color:#666; }
.sGLi.tp_list li .item_info .info_cast dt:after { content:'\0020\ac10\b3c5';font-size:12px;color:#999; }
.sGLi.tp_list li .item_info .info_cast dd { margin:4px 0 0 0;line-height:18px;font-size:12px;color:#666; }
.sGLi.tp_list li .item_info .info_cast dd:after { content:'\0020\cd9c\c5f0';font-size:12px;color:#999; }
.sGLi.tp_list li .item_info .info_entDate { margin:4px 0 0 0;height:18px;line-height:18px;font-size:12px;color:#999; }
.sGLi.tp_list li .item_info .info_loca { margin:2px 0 0 0;height:20px;line-height:20px;font-size:12px;color:#999; }
.sGLi.tp_list li .item_info .info_used { position:relative;z-index:11;display:table;margin-top:9px;padding:0;border:solid 1px #ebebeb;table-layout:fixed; }
.sGLi.tp_list li .item_info .info_used .used { display:table-cell;width:100px;text-align:center;vertical-align:top;border-right:solid 1px #ebebeb; }
.sGLi.tp_list li .item_info .info_used .used:last-child { border-right:none; }
.sGLi.tp_list li .item_info .info_used .used a { display:block;padding:7px 0 4px;color:#999; }
.sGLi.tp_list li .item_info .info_used .used a span { display:block;line-height:14px;font-size:11px; }
.sGLi.tp_list li .item_info .info_used .used a strong { display:block;margin-top:1px;line-height:18px;font-size:13px; }
.sGLi.tp_list li .item_info .info_used .used a strong:after { content:'\ac1c'; }
.sGLi.tp_list li .item_info .info_used .used.used_yes a strong { color:#6699cc; }
.sGLi.tp_list li .item_info .info_used .used.used_online a strong { color:#16a16f; }
.sGLi.tp_list li .item_info .info_used .used.used_seller a strong { color:#c16ed0; }
.sGLi.tp_list li .item_info .info_usedNew { margin-top:14px;line-height:20px;color:#666; }
.sGLi.tp_list li .item_info .info_usedNew .btnC { vertical-align:top; }
.sGLi.tp_list li .item_info .info_oneBuy { display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; }
.sGLi.tp_list li .item_info .info_oneBuy { margin-top:10px;line-height:0;font-size:0; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell { display:block;padding:11px 15px 14px;line-height:0;font-size:0;background-color:#f8f8f8; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell+.oneBuyCell { margin-left:-10px; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .yesRadio { display:block;line-height:25px; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .yesRadio label { display:block;height:auto;line-height:0;font-size:0; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .yesRadio label .ico_yesChk { top:1px; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .yesRadio input.iptRadio { top:6px; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .txt_item { display:inline-block;margin:0 5px 0 0;line-height:20px;font-size:12px;color:#333;font-weight:bold;vertical-align:bottom; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .txt_num { display:inline-block;line-height:20px;font-size:12px;vertical-align:bottom; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .txt_num .yes_b { color:#000;font-size:19px;vertical-align:-2px; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .txt_cnt { display:inline-block;margin:0 0 0 5px;line-height:20px;font-size:12px;color:#333;font-weight:normal;vertical-align:bottom; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .yCoupon .txt_item { color:transparent; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .yCoupon .txt_item:before { content:'\2001\2001\00A0\2001\2001'; }
.sGLi.tp_list li .item_info .info_oneBuy .oneBuyCell .yCoupon .txt_num .yes_b { color:#FF6666; }
.sGLi.tp_list li .item_btnCol { display:table-cell;padding-left:20px;width:145px;box-sizing:border-box; }
.sGLi.tp_list li .item_btnCol .btn_row { display:block;position:relative;height:30px;line-height:30px;text-align:center; }
.sGLi.tp_list li .item_btnCol .btn_row .chkBox { display:block;position:absolute;left:0;top:5px;width:20px;height:20px; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox { display:block;position:relative; }
.sGLi.tp_list li .item_btnCol .btn_row .chkBox+.numBox { margin:0 0 0 30px; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox .ipt_wSizeF.yesIpt { margin:0 29px;padding:1px 0 1px 0;height:30px;border-top-color:#ebebeb;border-bottom-color:#d8d8d8; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox .ipt_wSizeF.yesIpt input { height:25px; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox button { position:absolute;top:0;width:30px;height:30px;border:solid 1px #ebebeb;border-right-color:#d8d8d8;border-bottom-color:#d8d8d8;background-color:#f8f8f8; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox button .bgYUI { width:20px;height:20px; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox button.plus { right:0;border-top-right-radius:3px;border-bottom-right-radius:3px; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox button.plus .bgYUI { background-position:-160px -300px; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox button.minus { left:0;border-top-left-radius:3px;border-bottom-left-radius:3px; }
.sGLi.tp_list li .item_btnCol .btn_row .numBox button.minus .bgYUI { background-position:-190px -300px; }
.sGLi.tp_list li .item_btnCol .btn_row.soldOut { font-size:12px;color:#ff6666;font-weight:bold; }
.sGLi.tp_list li .item_btnCol .btn_row+.btn_row { margin-top:5px; }
.sGLi.tp_list li .item_btnCol .btn_row:not(.soldOut)+.btnC { margin-top:10px; }
.sGLi.tp_list li .item_btnCol .btnC { display:block;margin:0; }
.sGLi.tp_list li .item_btnCol .btnC+.btnC { margin:5px 0 0 0; }
.sGLi.tp_list li .item_btnCol .btnC .bWrap { display:block; }
.sGLi.tp_list li .item_btnCol .btnC.btn_used .bWrap { display:block;padding:11px 0;height:36px; }
.sGLi.tp_list li .item_btnCol .btnC.btn_used .bWrap .txt { display:block;line-height:18px; }
.sGLi.tp_list li .item_btnCol .btnC.btn_used .bWrap .num { display:block;line-height:18px;color:#666; }

/* 베스트셀러 */
.sGLi.tp_best.tp_list li .itemUnit .item_img { width:185px; }
.sGLi.tp_best.tp_list li .itemUnit .item_img .img_canvas { display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; }
.sGLi.tp_best.tp_list li .itemUnit .item_img .img_canvas { flex-direction:row;flex-wrap:nowrap;align-items:center; }
.sGLi.tp_best.tp_list li .itemUnit .item_img .img_canvas .img_upper { width:60px;text-align:center; }
.sGLi.tp_best.tp_list li .itemUnit .item_img .img_btn { padding-left:60px; }
.sGLi.tp_best.tp_thumb li .itemUnit .item_img .img_canvas .img_upper { display:block;padding-bottom:10px;text-align:center; }
.sGLi.tp_best.tp_thumb.tp_chkG li .item_btnCol .btn_row .chkBox { top:308px; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .ico.rank { display:block;height:30px;line-height:30px;font-family:'yesB';font-weight:normal;font-size:19px;color:#333; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .ico.rank * { font-family:'yesB'; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info { display:block;margin-top:2px;height:16px;overflow:hidden;line-height:0;font-size:0; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info .ico { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info .ico { width:16px;height:16px;background-position:left top;background-repeat:no-repeat; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info .txt:not(.rank) { display:none; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info .txt.rank { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info .txt.rank { margin:0 2px 0 -1px;line-height:17px;font-size:11px;vertical-align:top; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_up .ico { background-image:url('https://image.yes24.com/sysimage/reNew/best/ico_rank_up.svg'); } /* /sysimage/reNew/best/ico_rank_up.svg */
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_up .txt.rank { color:#ff6666; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_dn .ico { background-image:url('https://image.yes24.com/sysimage/reNew/best/ico_rank_dn.svg'); } /* /sysimage/reNew/best/ico_rank_dn.svg */
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_dn .txt.rank { color:#6699cc; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_even .ico { display:none; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_even .txt.rank { color:#333; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_even .txt.rank:before { content:'\2010'; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_new .ico { display:none; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_new .txt.rank { margin-right:0;color:#ff6666; }
.sGLi.tp_best li .itemUnit .item_img .img_canvas .img_upper .rank_info.rank_new .txt.rank:before { content:'\004E\0045\0057'; }

/* 배송지역 기준 */
.baseAddrRow { display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; }
.baseAddrRow { flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center; }
.baseAddrRow { box-sizing:border-box;padding:10px 0;min-height:50px;line-height:30px;border-bottom:solid 1px #ebebeb; }
.baseAddrRow:before { content:'';flex-shrink:0;display:inline-block;margin:0 5px 0 0;width:20px;height:20px;background:url('https://image.yes24.com/sysimage/mv3/com/ico_loca_thin.svg') no-repeat left top;vertical-align:top; }
.baseAddrRow .txt_addr { line-height:18px;font-size:12px;color:#333;font-weight:400; }
.baseAddrRow .txt_etc { flex-shrink:0;margin:0 7px;line-height:18px;font-size:12px;color:#999;font-weight:400; }
