@charset "utf-8";

/* 디파이너리 배너 방어코드 */
.dfn-pop-up-overlay { z-index:99999999 !important; }

#yHeader h1 { z-index:100000 !important; }
#yHeader .headerTopArea { z-index:110000 !important; }
#yHeader .headerMidArea { z-index:90000 !important; }
#yHeader .headerBotArea { z-index:80000 !important; }
#yesWrap #yCurtain { z-index:70000 !important; }
#yesWrap #ySkyWrap { z-index:50000 !important; }
#yesWrap #yesPartnerLayers { z-index:110001 !important; }

#wrapperContent #Wrapper:after { content:'';clear:both;display:block;vertical-align: }
#wrapperContent:after { content:'';clear:both;display:block;vertical-align: }


/* 중고샵 메인 재정의 */
/* .tit { width:auto !important;padding-left:0 !important;font-weight:normal !important;font-size:12px !important;color:#666 !important; } */
#yesFooter .yFootCon .csInfoD strong.tit { width:82px !important; }
#wrapperContent { width:960px;margin:0 auto;text-align:left; }
/*
#wrapperContent .tit { width:400px !important;padding-left:20px !important;font-weight:bold !important;font-size:20px !important;color:#3074B5 !important; }
#wrapperContent #BHwrapC .tit { color:#DA035F !important; }
*/

/* 신상품 로케이션 */
#wrapperContent #MDwrapC #location { font-size:12px; }

/* 제휴 신한카드 */
#partnerHeaderFrm .allthatHeaderWrap { text-align:center; }
#partnerHeaderFrm .allthatHeaderWrap .allthatPlusInfo	{ margin:0 auto;text-align:center; }
#partnerHeaderFrm .allthatHeaderWrap .allthatHeader		{ margin:0 auto;text-align:left; }
#partnerHeaderFrm .allthatHeaderWrap .allthatHeader .allthatPlusGnb { float:left; }
#partnerHeaderFrm .allthatHeaderWrap .allthatHeader .allthatPlusGnb li { float:left; }

/* 이벤트 템플릿 750 재정의*/
#eventTotWrap #eventLeftWrap { padding-left:0 !important;_width:200px !important; }

/* 상품리스트 MD형 B&H 가격정보 */
.newReleaseBH li span.priceB { display:block; }

/* 웰컴 공지 팝업 */
#yesWrap #yWelPopWrap { z-index:90001; }

/* 이벤트내 컨사이스 GNB와 중고샵 메인 .tit 충돌 방지 */
/*
#wrapperContent .conciseTop .tit { width:auto !important;padding-left:0 !important;font-weight:normal !important;font-size:11px !important;color:#666 !important; }
*/


#yHeader h1 { z-index:120000 !important; }
#yHeader #yHeaderWrap { z-index:110000 !important; }