@font-face {
    font-family: 'Happiness Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('Happiness-Sans-Regular.woff2') format('woff2'),
         url('Happiness-Sans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Happiness Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('Happiness-Sans-Bold.woff2') format('woff2'),
         url('Happiness-Sans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Happiness Sans Title';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('Happiness-Sans-Title.woff2') format('woff2'),
         url('Happiness-Sans-Title.woff') format('woff');
}

@font-face {
    font-family: 'Happiness Sans VF';
    font-style: normal;
    font-display: swap;
    src: url('HappinessSansVF.woff2') format('woff2');
}
